*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol{list-style: none;}
a{text-decoration: none; color: inherit;}
.clear::after{
  content: '';
  display: block;
  clear: both;
}
@font-face {
  font-family: 'KCC-eunyoung';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@1,400;1,500&display=swap');

body{
  font-family: "Nanum Gothic",sans-serif;
  color: #151515;
}
/*header*/
header{
  width: 100%;
  min-width: 1200px;
  position: fixed;
  left: 0; top: 0;
  z-index: 999;
  line-height: 40px;
  background-color: rgba(255,255,255,0.5);
}
#top{
  width: 1200px;
  margin: auto;
  padding: 20px 170px 0;
}
#top > div{float: left;}
/*logo*/
.logo{
  margin-right: 160px;
  line-height: 40px;
}
.logo img{
  width: 120px; height: auto;
}
/*search*/
.search{
  position: relative;
  width: 294px; height: auto;
  margin-right: 180px;
}
.search > button{
  border: none; outline: none;
  width: 290px;
  border-bottom: 1px solid #111;
}
.search img{
  width: 20px; height: auto;
  position: absolute; 
  top: 2px; right: 10px;
}
/*icon*/
.icon{
  width: 95px;
  float: right;
}
.icon > li{
  float: left;
  margin-left: 15px;
}
.icon > li:first-child{margin-left: 0;}
.icon img{
  width: 20px; height: auto;
}

/*#navi*/
#navi{
  width: 1200px;
  padding: 0 170px;
  margin: auto;
}
.menu{
  margin-top: 50px;
  display: flex;
  vertical-align: center;
  align-items: center;
  justify-content: space-between;
}
.menu > li{
  line-height: 80px;
  text-align: center;
  margin-right: 140px;
}
.menu > li > a{
  margin-bottom: 5px;
}
.menu > li:last-child{margin-right: 0;}
.menu > li:hover > a{
  border-bottom: 3px solid #8a5e5d;
}

/*aboutBanner*/
#aboutBanner{
  width: 100%;
  min-width: 1200px;
  margin-bottom: 80px;
}
.bannerWrap{
  width: 100%;
  margin: auto;
  animation: ani 1s linear;
}
@keyframes ani{
  0%{opacity: 0;}
  100%{opacity: 100;}
}
.aboutImg{
  width:100%;
  position: relative;}
.aboutImg > img{
  width: 100%;
  height: auto;
}
.aboutTxt{
  position: absolute;
  top: 220px; right: 290px;
  color: #fff;
}
.aboutTxt > h1{
  font-size: 100px;
  font-family: 'Libre Bodoni', serif;
  line-height: 120px;
}
.aboutTxt > p{
  font-size: 20px;
  line-height: 30px;
}
.aboutTxt > .line{
  width: 340px;
  height: 1px;
  background-color: #fff;
  margin: 30px 0;
}

/*aboutProduct*/
#aboutProduct{
  width: 100%;
  min-width: 1200px;
  margin-bottom: 80px;
}
.productWrap{
  width: 1200px;
  margin: auto;
  padding: 0 170px;
  text-align: center;
}

.productTxt > h1{
  font-size: 36px;
  line-height: 80px;
  letter-spacing: 16px;
}
.productTxt > h3{
  line-height: 60px;
  font-size: 20px;
}
.productTxt > p{
  font-size: 18px;
  line-height: 40px;
  font-weight: normal;
}

/*aboutBeauty*/
#aboutBeauty{
  width: 100%;
  min-width: 1200px;
  margin-bottom: 40px;
}
.beautyWrap{
  width: 1200px;
  margin: auto;
  padding: 0 114px;
}
.beautyGroup > li{
  float: left;
  margin-right: 72px;
  position: relative;
}
.beautyGroup > li:first-child{margin-top: 80px;}
.beautyGroup > li:last-child{
  margin-right: 0;
}

.beautyRight > li > h1{
  font-size: 20px;
  line-height: 40px;
}
.beautyRight > li > p{
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}
.beautyRight > li > h1:after{
  content: '';
  width: 180px;
  height: 1px;
  background-color: #151515;
  position: absolute;
  right: 0px; bottom: 140px;
}
.beautyRight > li:last-child{margin-top: 40px;}

/*footer*/
footer{
  width: 100%;
  min-width: 1200px;
  background-color: #8a5e5d;
  color: #f1f1f1;
}
.footerWrap{
  width: 1200px;
  margin: auto;
  padding: 10px 170px 40px;
}
.footerTop{
  margin-left: 10px;
  display: flex;
  vertical-align: center;
  align-items: center;
  line-height: 80px;
}
.footerTop img{
  width: 130px; height: auto;
  margin-top: 26px;
  margin-right: 36px;
}
.footerTitle{
  margin-right: 120px;
}
.footerTitle > li{
  float: left;
  font-size: 12px;
  margin-right: 24px;
}
.footerTitle > li:last-child{
  margin-right: 0;
}
.footerSns > li{
  float: left;
  margin-right: -24px;
}
.footerSns > li:last-child{
  margin-right: 0;
}
.footerSns img{
  width: 18px; height: auto;
}

.footerBody{
  margin-left: 10px;
  font-size: 10px;
  display: flex;
}
.footerBody > li{
  margin-right: 28px;
}
.footerBox1{
  margin-right: 34px;
}
.footerBox1,
.footerBox2,
.footerBox3{line-height: 20px;}